body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZWJgdknSxGoC47A5_kLdAse9XL1ADm7gilFHLILxpggZHZB0W');
}

.title{

text-align: center;
}
.Nav-Bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(189, 195, 199);
  border-radius: 20px;
  padding: 1px;
  margin-top: 20px;
}
a{
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(127, 140, 141);
}
a:hover{
  text-decoration: underline;
}
.productList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.productCard{
  display: flex;
  border-style: solid;
  border-color:  purple;
  border-radius: 30px;
  border-width: 5px;
  width: calc(33.33333% - 20px);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .25%;
  margin-top: 5px;
  background-color: white;
}

.productCard > img{
  display: flex;
  margin: 25px;
  width: 90%;
}
